<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">BANCO DE ALIMENTOS</a>
    </div>



    <!-- *************** usuarios no logueados ******************************-->
    <ul class="nav navbar-nav" *ngIf="!isLogged">
      <li ><a routerLink="/login" routerLinkActive="active"><span class="glyphicon glyphicon-log-in"></span> LOGIN</a></li>
      <li><a routerLink="/register" routerLinkActive="active"><span class="glyphicon glyphicon-user"></span>REGISTRARSE</a></li>
    </ul>

     <!-- ***************** usuarios banco ***************************** -->
    <ul class="nav navbar-nav" *ngIf="isBanco">
        <li ><a href="altaUsuarioDonante.html">ALTA USUARIO DONANTE</a></li>
        <li class="active"><a routerLink="/donacion/listarDonaciones">LISTADO DE DONACIONES</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">RECORRIDOS
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a routerLink="/recorrido/cargarRecorrido">CARGAR RECORRIDO</a></li>
            <li><a routerLink="/recorrido/listarRecorridos">VER RECORRIDOS</a></li>
          </ul>
        </li>
    </ul>

      <!-- ********************* usuario administrador ******************* -->
    <ul class="nav navbar-nav" *ngIf="isAdmin">
        <li><a routerLink="/usuarios/crearUsuario" routerLinkActive="active">ALTA NUEVO USUARIO BANCO</a></li>
        <li><a routerLink="/usuarios/listarUsuarios" routerLinkActive="active">LISTADO DE USUARIOS</a></li>
    </ul>

    <!-- ************** usuario donante ************************* -->
    <ul class="nav navbar-nav" *ngIf="isDoner">
      <li class="active"><a routerLink="/donacion/crearDonacion" routerLinkActive="active">ALTA DONACION</a></li>
      <li><a routerLink="/recorrido/listarRecorridos" routerLinkActive="active">  LISTADO DE RECORRIDOS</a></li>
    </ul>

    <!-- ************** todos los usuarios ************************* -->
    <ul class="nav navbar-nav navbar-right" *ngIf="isLogged"> 
      <li><a href="#"><span class="glyphicon glyphicon-user" routerLinkActive="active"></span> PERFIL</a></li>
      <li><a (click)="logout()"> LOGOUT</a></li>
    </ul>
  </div>
</nav>