<div class="container">
  <h2>DONADORES</h2>
  <p>The .table-hover class enables a hover state on table rows:</p>            
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Telefono</th>
        <th>Domicilio</th>
        <th>Ver donaciones</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>CARREFOUR</td>
        <td>4510</td>
        <td>Calle: 72 N° 999</td>
        <td>
            <a href="donacionesPorPersona.html"class="btn btn-info">ver</a>
           	<button type="button" class="btn btn-danger">eliminar</button>
        	<button type="button" class="btn btn-secondary">modificar</button>
        	</td>
        
      </tr>
      <tr>
       <td>Walktmark</td>
        <td>42323</td>
        <td>Calle: 71 N° 999</td>
        <td>
        	<a href="donacionesPorPersona.html"class="btn btn-info">ver</a>
            <button type="button" class="btn btn-danger">eliminar</button>
        	<button type="button" class="btn btn-secondary">modificar</button>
        </td>
      </tr>
     <tr>
       <td>Coto</td>
        <td>422332</td>
        <td>Calle: 69 N° 999</td>
        <td>
 		       <a href="donacionesPorPersona.html"class="btn btn-info">ver</a>
      		 <button type="button" class="btn btn-danger">eliminar</button>
      		 <button type="button" class="btn btn-secondary">modificar</button>
      	</td>	 
      </tr>
    </tbody>
  </table>
</div>