<div class="container">


        
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Numero</th>
          <th>Fecha</th>
          <th>Lugar de retiro</th>
          <th>Donacion Retirada</th>
          <th>Ver</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>44/11/123</td>
          <td>Calle: 72 N° 999</td>
          <td>Si</td>
          <td><a href="productosDeDonaciones.html">VER</a></td>
        </tr>
        <tr>
         <td>2</td>
          <td>44/11/123</td>
          <td>Calle: 72 N° 999</td>
          <td>No</td>
          <td><a href="productosDeDonaciones.html">VER</a></td>
        </tr>
       <tr>
         <td>3</td>
          <td>44/11/123</td>
          <td>Calle: 72 N° 999</td>
          <td>No</td>
          <td><a href="productosDeDonaciones.html">VER</a></td>
        </tr>
      </tbody>
    </table>
    
  </div>