<div class="container">
  <h2>Listado de usuarios</h2>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Telefono</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Carlos</td>
        <td>Carden</td>
        <td>444444</td>
        <td>
            <button type="button" class="btn btn-danger">eliminar</button>
            <button type="button" class="btn btn-secondary">modificar</button>
        <td>
      </tr>
     
      <tr>
        <td>Martin</td>
        <td>Sarachaga</td>
        <td>555555</td>
        <td>
        	<button type="button" class="btn btn-danger">eliminar</button>
        	<button type="button" class="btn btn-secondary">modificar</button>
        	<td>
      </tr>
    
    </tbody>
  </table>
</div>